.i1{
    grid-area: i1;
}
.i2{
    grid-area: i2;
}
.i3{
    grid-area: i3;
}
.i4{
    grid-area: i4;
}
.i5{
    grid-area: i5;
}
.i6{
    grid-area: i6;
}
.i7{
    grid-area: i7;
}
.i8{
    grid-area: i8;
}
.i9{
    grid-area: i9;
}